body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; /* Corrected from justify-self to justify-content */
  align-items: center;
  height: 100vh;
  background-color: aliceblue;
}
.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input,
button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}
#timeDisplay {
  margin-top: 20px;
  font-size: 24px;
}
